[Unit]
Description=Fuse interface for KIO
PartOf=graphical-session.target

[Service]
ExecStart=/usr/libexec/kio-fuse -f
BusName=org.kde.KIOFuse
Slice=background.slice
