[Unit]
Description=KRunner
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/krunner --daemon
Type=dbus
BusName=org.kde.krunner
TimeoutSec=5sec
Slice=background.slice
# Disable restart as we're dbus activated anyway
Restart=no
