[Unit]
Description=KDE Startup Sound
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/plasma-startup-sound
Slice=session.slice
